<p>
  In September, the U.S. Department of Energy invested $112.5 million to advance wave energy
  technologies and their commercial use, recognizing the potential of marine energy to address
  energy challenges. Wave energy, a form of marine energy, can offer solutions for various
  applications, including powering autonomous vehicles for ocean exploration, supporting offshore
  aquaculture, advancing marine transportation with battery and fuel cell technologies, and
  providing energy for remote coastal and island communities. It also plays a role in offshore
  renewable energy and biofuel production. Wave energy is expected to become a significant part
  of the renewable energy mix, with U.S. marine resources capable of meeting over half of the
  country's energy needs. As part of this effort, the federal investment will fund PacWave, a
  pioneering facility in Oregon for open-water testing of wave energy converters (WECs).
  Set to open in 2025, PacWave will test devices that harness ocean wave energy, converting it
  into electricity for the power grid. These devices, resembling buoys, use the ocean's natural
  movements to generate energy, which is transmitted to shore via underwater cables.
</p>
<img src="PacWave.jpg" alt="Visualization on how PacWave works"/>
